.edit {
  padding-top: 6rem;
  padding-bottom: 12rem;

  @media (max-width: em(767)) {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__button-save {
    min-width: 12rem;
  }

  .hero__search {
    display: none;
  }
}