.footer {
  padding-bottom: 5rem;
  background-color: var(--clr-primary-700);

  &__wrapper {
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid var(--clr-default-300);
    height: 12rem;

    @media (max-width: em(1180)) {
      margin-bottom: 2rem;
    }
  }

  &__logo {
    margin-right: 9rem;
    max-width: 11rem;

    @media (max-width: em(1380)) {
      margin-right: 3rem;
    }
  }

  &__menu {
  }

  &__menu-list {
    display: flex;

    @media (max-width: em(992)) {
      flex-direction: column;
    }
  }

  &__menu-item {
    a {
      font-weight: 400;
      color: var(--clr-default-100);
      transition: color var(--transition);
    }

    &:not(:last-child) {
      margin-right: 2.5rem;

      @media (max-width: em(992)) {
        margin-bottom: 1.5rem;
      }
    }

    @media (hover: hover) {
      &:hover a {
        color: var(--clr-primary-200);
        transition: color var(--transition);
      }
    }

    &:focus a {
      color: var(--clr-primary-200);
      transition: color var(--transition);
    }
  }

  &__social {
    display: flex;
    margin-left: 1.5rem;
    border: 0.1rem solid var(--clr-default-300);
    border-radius: 50%;
    min-width: 4rem;
    min-height: 4rem;
    transition: background-color var(--transition);

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 100%;
    }

    a svg {
      width: 1.8rem;
      height: 1.2rem;
      fill: var(--clr-primary-200);
      transition: fill var(--transition);
    }
    
    @media (hover: hover) {
      &:hover {
        background-color: var(--clr-primary-200);
        transition: background-color var(--transition);
        svg {
          fill: var(--clr-default-100);
          transition: fill var(--transition);
        }
      }
    }

    &:focus {
      background-color: var(--clr-primary-200);
      transition: background-color var(--transition);
      svg {
        fill: var(--clr-default-100);
        transition: fill var(--transition);
      }
    }
  }

  &__navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-radius: 0.4rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    min-height: 4rem;
    background-color: var(--clr-default-250);

    .navigation__currency-name {
      color: var(--clr-default-350);
    }

    .navigation__currency {
      &::before {
        background-color: var(--clr-default-350);
      }
    }

    .navigation__select {
      left: -20.5rem;

      @media (max-width: em(767)) {
        left: -16.5rem;
      }
    }

    .product__navigation-list--footer {
      left: -81%;
      bottom: 0;

      @media (max-width: em(767)) {
        left: 1rem;
        top: initial;
        bottom: initial;
        min-width: 25rem;
      }
    }
  }



  &__menu-mobile {
    @media (max-width: em(1180)) {
      margin-bottom: 2rem;
      border-bottom: 0.1rem solid var(--clr-default-300);
      padding-bottom: 2rem;
    }
  }

  &__bottom {
   
  }

  &__text {
    margin-bottom: 1.2rem;

    p {
      font-family: 'Gilroy', sans-serif;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 130%;
      color: var(--clr-default-350);

      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }
  }

  &__policy {
    margin-bottom: 2.5rem;

    p {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 130%;
      color: var(--clr-default-350);
    }
  }

  &__payment-list {
    display: flex;
  }

  &__payment-item {
    &:not(:last-child) {
      margin-right: 0.6rem;
    }
  }
}

