.password {
  padding-top: 6rem;
  padding-bottom: 12rem;

  @media (max-width: em(767)) {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    padding-right: 4rem;
  }

  &__button-hide {
    position: absolute;
    right: 1rem;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: -0.1rem;
      top: 0.8rem;
      width: 2.6rem;
      height: 0.2rem;
      background-color: var(--clr-primary-200);
      opacity: 1;
      transform: rotate(45deg);
      transition: opacity var(--transition);
    }

    svg {
      z-index: -1;
      width: 2.4rem;
      height: 1.8rem;
      fill: var(--clr-primary-200);
      pointer-events: none;
    }

    &.view {
      &::before {
        opacity: 0;
        transition: opacity var(--transition);
      }
    }
  }

  .hero__search {
    display: none;
  }
}